@page {
    size:8.5in 11in;
    margin-left: 0.5in;
    margin-right: 0.5in;
    marks: cross;
}

h1 {
    font-family: "Century Gothic";
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
    border-width: 3pt;
    border-color: black;
    border-style: solid;
    border-collapse: collapse;
    line-height: 1;
    box-sizing: border-box;
    height: 48pt;
    width: 7.5in;
    background-color: lightblue;
}

st {
    font-family: "Century Gothic";
    font-size: 10pt;
    font-weight: bold;
    text-align: center;
    width: 2in;
    border-collapse: collapse;
}

h2 {
    font-family: "Century Gothic";
    font-size: 16pt;
    text-decoration: underline;
}

h3 {
    background-color:#CCCCCC;
    font-weight: normal;
}

* {
    margin: 0in;
    font-family: "Noto Sans";
    font-size: 12pt;
}

p {
    line-height: 1.5;
    padding-bottom: 1em;
}

newpage {
    page-break-before: right
}

eqn {
    color: blue;
}

code {
    font-family: "monospace";
    color: blue;
}

sup {
    line-height: 0;
    font-size: 0.64em;
    vertical-align: super;
}

sub {
    line-height: 0;
    font-size: 0.64em;
    vertical-align: sub;
}

err {
    color: red;
}

.eqn {
    color: blue;
}