@page {
    size:8.5in 11in;
    margin-left: 0.75in;
    margin-right: 0.75in;
    marks: cross;
}

* {
    margin: 0in;
    font-family: "Ubuntu";
    font-size: 12pt;
}

h1, h1 * {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: lighter;
    font-size: 16pt;
    text-align: center;
    line-height: 1;
    
    width: 100%;
    background-color: skyblue;
}

h2, h2 * {
    font-size: 12pt;
    font-weight: lighter;
    
    text-indent: 2em 5em;
    border-bottom: 1px solid black;
}

h3, h3 *{
    background-color:#EEEEEE;
    font-weight: bold;
    width: 100%;
    font-size: 10pt;
}

p, p * {
    line-height: 1.5;
    font-size: 10pt;
    margin-bottom: 0.5em;
}

ul {
    margin-top: 0;
    margin-bottom: 0.5em;
}

section {
    margin-bottom: 12pt;
    page-break-after: always
}

code {
    white-space: pre;
    font-family: "Unifont","monospace";
    color: blue;
}

sup {
    line-height: 0;
    font-size: 0.64em;
    vertical-align: super;
}

sub {
    line-height: 0;
    font-size: 0.64em;
    vertical-align: sub;
}

table {
    padding: 0;
    border-collapse: collapse;
}
tr {
    padding: 0;
}
td {
    padding: 0;
}

newpage {
    page-break-before: always
}

st {
    font-size: 10pt;
    font-weight: bold;
    text-align: center;
    margin-top: 8pt;
    display: block;
    border-collapse: collapse;
}

eqn {
    color: blue;
}

codeblock {
    display:block;
    white-space: pre;
    line-height: 1;

    font-size:12pt;
    font-family: "Unifont","monospace";
    color: blue;
    background-color: #EEEEEE;
}

codeblock > * {
    font-size:12pt;
    font-family: "Unifont","monospace";
}

ou {
    text-decoration: overline
}

qt, qd, qn {
    display: inline-block;
    position: relative;
    vertical-align: middle;   
}

qt {
    display: inline-block;
    text-align: center;    
}

qd {
    border-top: 1px solid;
    display: block; 
}

/* Proofreading */
err {
    background-color: lightcoral;
}

serr {
    text-decoration: line-through red 3px;
}

comm {
    color: green;
}

codeblock > comm {
    color: green; 
    font-size:10pt;
    font-family: "Unifont","monospace";
}