P { 
   font-family:Arial, sans-serif; 
   margin-top:1; 
   margin-bottom:14pt;  }
LI.kadov-P { 
            font-family:Arial, sans-serif;  }
P.NAVBAR { 
          font-family:Arial, sans-serif; 
          font-size:10pt; 
          font-style:italic;  }
LI.kadov-P-CNAVBAR { 
                    font-family:Arial, sans-serif; 
                    font-size:10pt; 
                    font-style:italic;  }
